p{
    color: #1A237E;
    font-size: 20px;
}
.sheet{
    width: 70%;
    border: 1px solid #1A237E;
    margin: 10px;
    text-align: center;
   }

.maticonstyle {
       color: #1A237E;
     }

  
.matlabelstyle {
  padding-left: 5px;
  padding-right: 5px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}